if SHIELD_CORNE_TRACKPOINT_RIGHT

config ZMK_KEYBOARD_NAME
    default "TP Corne"

comment "Peripheral role — ZMK_SPLIT_ROLE_CENTRAL not set, so this is a peripheral"

endif

if SHIELD_CORNE_TRACKPOINT_RIGHT || SHIELD_CORNE_TRACKPOINT_LEFT

config ZMK_SPLIT
    default y

endif
